{{!< default}}
{{> header}}

{{#tag}}
  <section class="bg-light pt-4 pb-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-7">
          <small class="d-block">All posts tagged in:</small>
          <h1>{{name}}</h1>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
  </section>
{{/tag}}

<div class="container mt-5 mb-5">
  <div class="row justify-content-md-center mb-4">
    <div class="col-sm-7">
      {{#foreach posts}}
      <article class="{{post_class}} mb-5">
        <header class="post-header mb-4">
          {{#if feature_image}}<a href="{{url}}"><img class="img-fluid mb-4" src="{{img_url feature_image}}"></a>{{/if}}
          <h2><a href="{{url}}">{{title}}</a></h2>
          <div>
            {{#if author.profile_image}}<img class="align-middle" src="{{author.profile_image}}" alt="Author image" width="18" height="18" />{{/if}}
            <span class="align-middle">{{author}} on <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></span>
          </div>
        </header>
        <section class="post-excerpt">
          <div>
            <p>{{excerpt words="30"}}&hellip;</p>
            <div class="d-flex align-items-end justify-content-between">
              <div>
                <small class="d-block">Tagged in:</small>
                {{#if featured}}<span class="badge badge-warning align-middle">Featured</span>{{/if}}
                {{#foreach tags}}
                  <span class="badge badge-secondary align-middle"><a class="text-white" href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a></span>
                {{/foreach}}
              </div>
              <a class="btn btn-outline-primary" href="{{url}}" role="button">Read More</a>
            </div>
          </div>
        </section>
      </article>
      {{/foreach}}
    </div>
  </div>
  {{pagination}}
</div>